*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: 'Satoshi', sans-serif;
    height: 100vh;
}

img, video, picture, svg {
    display: block;
    max-width: 100%;
}

* {
    font: inherit;
    margin: 0;
    padding: 0;
}